@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


h2{
  font-size: 55px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -1px;
  text-align: center;

  background: linear-gradient(90deg, #ffffff 0%, #5FA8FF 45%, #9B6DFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width:768px){
  h2{
    font-size: 40px;
  }
}








